name: E2E

on:
  push:
    branches:
      # TODO: revert to main only  
      - main
      - v1
  merge_group:
  pull_request:

jobs:
  smoke:
    name: Smoke test
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
    
      - name: Cache turbo build setup
        uses: actions/cache@v4.3.0
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
    
      - uses: pnpm/action-setup@v4.1.0

      - uses: actions/setup-node@v4.4.0
        with:
          node-version: 22.x
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm
    
      - name: Install
        run: pnpm install
    
      - name: Build
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM || github.repository_owner }}
          TURBO_CACHE: remote:rw
        run: pnpm build
    
      - name: Smoke
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM || github.repository_owner }}
          TURBO_CACHE: remote:rw
        run: pnpm e2e:smoke

  integration:
    name: Integration test
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
    
      - name: Cache turbo build setup
        uses: actions/cache@v4.3.0
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
    
      - uses: pnpm/action-setup@v4.1.0
    
      - uses: actions/setup-node@v4.4.0
        with:
          node-version: 22.x
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm
    
      - name: Install
        run: pnpm install
    
      - name: Build
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM || github.repository_owner }}
          TURBO_CACHE: remote:rw
        run: pnpm build
    
      - name: Integration
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM || github.repository_owner }}
          TURBO_CACHE: remote:rw
        run: pnpm e2e:integration