name: Publish Any Commit
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0

      - name: Cache turbo build setup
        uses: actions/cache@v4.3.0
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - uses: pnpm/action-setup@v4.1.0

      - uses: actions/setup-node@v4.4.0
        with:
          node-version: 22.x
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Build
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM || github.repository_owner }}
          TURBO_CACHE: remote:rw
        run: pnpm build

      - run: pnpm dlx pkg-pr-new publish --pnpm ./packages/**/*